/*------------ Tablette Format Paysage -----------*/
@media all and (min-width: 935px) and (max-width: 1200px) {
  body {
    margin-left: 0px;
  }

  nav a {
    padding: 19px 0px;
  }

  nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
  }

  h2 {
    font-size: 1.3em;
  }

  p {
    font-size: 18px;
  }

  /* Filtres */
  .filtre, .list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
  }

  .filtre p {
    margin-right: 20px;
  }

  .list {
    padding-left: 0px;
  }

  .list_item {
    padding-bottom: 5px;
    margin-right: 20px;
  }

  /* Main */
  /* Section - Populaire */
  main {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .main {
    flex-direction: column-reverse;
    justify-content: space-around;
  }

  .sidebar {
    width: 100%;
    margin-left: 0px;
  }

  .sidebar_item {
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 15px;
  }

  .sidebar_item a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 30%;
    height: 132px;
  }

  .sidebar_item img {
    display: flex;
    min-width: 35%;
    width: 35%;
    height: 100%;
  }

  .right {
    display: flex;
    flex-direction: column;
  }

  .populaires h2 {
    margin-right: 50px;
  }

  /* Section - Hébergements */
  #section1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0px;
    background-color: inherit;
    margin-bottom: 10px;
  }

  .container {
    justify-content: space-around;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  #section1 article {
    align-items: center;
  }

  #section1 article a {
    width: 100%;
    height: 200px;
    margin-left: 0px;
  }

  #section1 img {
    height: 55%;
    margin-top: 0px;
  }

  .link {
    font-size: 19px;
  }

  /* Section - Activités */
  .block h3 {
    font-size: 0.95em;
  }

  .block1 {
    row-gap: 27px;
  }
}
