/*------------ Tablette Format Paysage -----------*/
@media all and (min-width: 935px) and (max-width: 1200px){
  body {
    margin-left: 0px;
  }

  .test_container {
    margin: 0;
    width: inherit;
  }

  h2 {
    font-size: 1.3em;
  }

  p {
    font-size: 18px;
  }

  /* Filtres */
  .filtre, .list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
  }

  .filtre p {
    margin-right: 20px;
  }

  .list {
    padding-left: 0px;
  }

  .list_item {
    padding-bottom: 5px;
    margin-right: 20px;
  }

  /* Main */
  /* Aside - Populaire */
  main{
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }

  aside {
    width: 100%;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 20px;
  }

  .sidebar a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 30%;
    height: 132px;
  }

  .sidebar img {
    display: flex;
    min-width: 35%;
    width: 35%;
    height: 100%;
  }

  .right {
    display: flex;
    flex-direction: column;
  }

  .populaires h2 {
    margin-right: 50px;
  }

  /* Section - Hébergements */
  #section1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0px;
    background-color: inherit;
  }

  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-bottom: 15px;
  }

  #section1 article {
    max-width: 25%;
    min-width: 25%;
    display: flex;
    align-items: center;
  }

  #section1 article a {
    max-width: 100%;
    height: 200px;
    margin-left: 0px;
  }

  #section1 img {
    width: 100%;
    height: 55%;
    margin-top: 0px;
  }

  .link {
    font-size: 19px;
    margin-left: 20px;
  }

  /* Section - Activités */
  #section2 {
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: 95%;
  }

  .block {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    height: 100%;
    margin-left: 15px;
  }

  .block div {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
  }

  div > .block1{
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    max-width: 100%;
    max-height: 100%;
  }

  .block a {
    max-width: 100%;
    height: 300px;
  }

  .block img {
    width: 100%;
    height: 85%;
    margin-top: 0px;
  }


}
