/* Mobile */

@media screen and (min-width: 320px) and (max-width: 738px) {

  body{
    margin-left: 0px;
  }

  header, nav{
    margin-left: 15px;
  }

  /* Header & Nav */
  nav {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  nav ul{
    width: 100%;
  }

  nav li{
    margin-right: 75px;
    margin-left: 20px;
  }

   .navbar{
     margin-left: 0px;
     border-bottom: 2px solid #F2F2F2;
     padding-left: 0px;
   }

   .element{
    display: flex;
    flex-direction: row;
  }

  nav .bold{
    position: absolute;
    right: 10%;
    top: 25px;
  }

  nav li a{
    flex-flow: wrap;
    width: 100%;
  }

  nav a:hover {
    border-top: none;
    border-bottom: 2px solid #0065FC;
    color: #0065FC;
  }

  /* Section1 */
  section{
    margin-left: 30px;
  }

  #search_button{
    padding: 10px;
  }

  /* Searchbar */
  #search_button span{
    display: none;
  }

  #search_button i{
    display: inline-grid;
  }

  /* Filtre */
  .filtre, .list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }

  .list{
    padding-left: 0px;
    padding-top: 0px;
  }

  .filtre p{
    padding-bottom: 10px;
  }

   .list_item{
    flex-wrap: wrap;
    padding-bottom: 20px;
  }

  /* Info */
  .info p{
    margin-left: 1em;
    flex-wrap: nowrap;
    width: 55%
  }

  main{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }

  aside{
    height: 35.5em;
    width: 100%;
    margin-left: 0px;
  }

  .populaires h2{
    margin-right: 50px;
  }

   .under_sidebar-item{
    margin-left: 1.5em;
    width: 320px;
    height: 132px;
  }

  .under_sidebar-item img{
    width: 15vh;
    height: 18vh;
  }

  .section1{
    height: 35.5em;
    width: 100%;
    margin-left: 0px;
    background-color: inherit;

  }

  .item1, .item2, .item3, .item4, .item5, .item6{
    width: 335px;
    height: 175px;
    display: flex;
    align-items: center;
  }

  .block img{
    width: 46vh;
    height: 12vh;
  }

}

/* Tablette */
@media all and (min-width: 768px) and (max-width: 1023px){

  h2{
    font-size: 1.3em;
  }

  p{
    font-size: 18px;
  }

  /* Filtres */
  .filtre, .list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .filtre p{
    margin-right: 20px;
  }

  .list{
    padding-left: 0px;
  }

  .list_item{
    padding-bottom: 5px;
    margin-right: 20px;
  }

  main{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }

  aside{
    height: 25.5em;
    width: 100%;
    margin-left: 0px;
  }

  .under_sidebar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .populaires h2{
    margin-right: 50px;
  }

   .under_sidebar-item{
    margin-left: 1.5em;
    margin-right: 1em;
    margin-bottom: 0.5em;
    width: 320px;
    height: 132px;
  }

  .under_sidebar-item img{
    width: 15vh;
    height: 22vh;
  }

  .section1{
    height: 35.5em;
    width: 100%;
    margin-left: 0px;
    background-color: inherit;

  }

  .item1, .item2, .item3, .item4, .item5, .item6{
    width: 335px;
    height: 210px;
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  .block img{
    width: 57vh;
    height: 20vh;
    margin-top: 0px;
  }

  .link{
    font-size: 19px;
  }

  .container{
    margin-bottom: 15px;
  }



}
