/* Mobile */

@media screen and (max-width: 425px) {

/* Header & Nav */
  nav {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

   .navbar{
     margin-left: 0px;
     border-bottom: 2px solid #F2F2F2;
     padding-left: 0px;
   }

   .element{
    display: flex;
    flex-direction: row;
  }

  nav button{
    position: absolute;
    right: 10%;
    top: 25px;
  }

  nav li a{
    flex-flow: wrap;
    width: 100%;
  }

  nav a:hover {
    border-top: none;
    border-bottom: 2px solid #0065FC;
    color: #0065FC;
  }

/* Section1 */

/* Filtre */
  .filtre, .list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .filtre p{
    padding-bottom: 10px;
  }

   .list_item{
     flex-wrap: wrap;
    padding-bottom: 20px;
  }

  .info{
    width: 100%;
  }

  .info p{
    margin-left: 1em;
  }



}



/* Tablette */
@media all and (min-width: 768px) and (max-width: 1023px){


}
