body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.test_container {
  margin: auto;
  max-width: 1440px;
  padding: 0px 25px;
}

/*Header & Nav*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height: 50px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav li {
  margin-right: 50px;
  margin-top: 5px;
}

nav a {
  text-decoration: none;
  color: black;
  height: 16px;
  padding: 19px 0px;
}

nav a:hover {
  color: #0065FC;
  border-top: 2px solid #0065FC;
}

#inscrire {
  font-weight: 100;
  border: none;
  font-weight: bold;
  color: #0065FC;
  font-size: 15px;
  margin-right: 0;
}

/* Section1 */
/*Searchbar*/
#searchbar {
  display: flex;
  margin: 0px;
  padding: 0px;
  border: 1px;
}

#icon {
  padding: 9px;
  background-color: #F2F2F2;
  border-top-left-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
}

#city {
  font-weight: bold;
  font-family: "Raleway";
  border: none;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
}

#city:focus {
  outline: none;
}

::placeholder {
  color: black;
  opacity: 1;
}

#search_button {
  font-family: "Raleway";
  font-weight: 600;
  margin: 0px;
  padding: 5px;
  border: 0px;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  background-color: #0065FC;
  color: white;
}

#search_button i {
  display: none;
}

/*Filtres*/
.filtre {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding: 20px;
  padding-left: 0px;
}

.filtre p {
  margin-top: 25px;
  font-weight: bold;
  height: 1.6em;
}

.list {
  display: flex;
}

.list_item {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-weight: bold;
  margin: 0px 35px 0px 0px;
  border-radius: 30px;
}

.list_item i {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DEEBFF;
  color: #0065FC;
  padding: 10px;
  border-radius: 20px;
  margin-right: 0.5em;
}

.list_item a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 1em;
  text-decoration: none;
  color: black;
  border: 2px solid #F2F2F2;
  border-radius: 30px;
}

.list_item a:hover {
  background-color: #0065FC;
  color: white;
}

/*Info*/
.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2px;
  margin-top: 0.4em;
  margin-bottom: 3em;
}

#icon_info i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065FC;
  border: 2px solid #F2F2F2;
  padding: 10px;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  max-width: 1em;
}

.info p {
  margin-left: 0.3em
}

/* Main */
/* Section - Hébergements */
.main {
  display: flex;
}

#section1 {
  background-color: #F2F2F2;
  border-radius: 20px;
  width: 65%;
  padding-bottom: 10px;
}

h2 {
  margin-left: 15px;
  font-size: 1.2em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 30px;
  margin-bottom: 35px;
  width: 100%;
}

#section1 article {
  width: 30%;
  max-height: 250px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#section1 article a {
  width: 100%;
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #DCDCDC;
  padding: 5px 5px 10px 5px;
  margin-left: 15px;
}

article a:hover {
  transform: scale(1.025);
  transition: ease 0.3s;
}

#section1 img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#section1 article h3 {
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 10px;
}

#section1 article p {
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.star {
  display: flex;
  align-items: flex-start;
  color: #0065FC;
}

.star .grey_star {
  color: #F2F2F2;
}

.link a {
  color: black;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 700;
}

.link a:hover {
  color: #0065FC;
}

/* Aside - Populaires */
aside {
  margin-left: 2em;
  background-color: #F2F2F2;
  border-radius: 20px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  width: 35%;
}

.populaires {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.populaires h2 {
  margin: 30px 10px 0px 15px;
}

.populaires i {
  margin-right: 2em;
  margin-top: 35px;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar a {
  height: 140px;
  width: 85%;
  text-decoration: none;
  color: black;
  display: flex;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #DCDCDC;
  margin-left: 15px;
  margin-bottom: 25px;
  padding-right: 6px;
}

.sidebar a:hover {
  transform: scale(1.025);
  transition: ease 0.3s;
}

.sidebar img {
  padding: 3px;
  min-width: 40%;
  width: 40%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.right {
  margin-left: 10px;
}

.right h3 {
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.right p {
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 25px;
}

/* Section - Activités */
#section2 {
  width: 100%;
  margin-bottom: 2em;
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.block div {
  max-width: 225px;
  max-height: 490px;
}

.block a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  background-color: white;
  padding-bottom: 0px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #DCDCDC;
  padding: 0px 0px 10px 0px;
}

.block a:hover {
  transform: scale(1.02);
  transition: ease 0.3s;
}

.block img {
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
}

.block h3 {
  margin: 10px 0px 0px 5px;
  font-size: 1.05em;
}

.block1 {
  display: flex;
  flex-direction: column;
  row-gap: 34px;
}

.large img {
  height: 335px;
}

.medium img {
  height: 175px;
}

.small img {
  height: 100px;
}

.moyen img {
  height: 130px;
}

/* Footer */
footer {
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#footer_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
}

h4 {
  display: flex;
  margin-bottom: 0px;
  margin-left: 25px;
}

footer ul {
  list-style: none;
  padding-left: 25px;
}

footer li {
  margin-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: #0065FC;
  text-decoration: underline;
}

.footer_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#footer_right {
  margin-right: 20%;
}
