body {
  font-family: "Raleway", sans-serif;
  margin-left: 30px;
}

/*Header & Nav*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height: 50px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav li {
  margin-right: 50px;
  margin-top: 5px;
}

nav a {
  text-decoration: none;
  color: black;
  height: 16px;
  padding: 10px 0px;
}

nav a:hover {
  color: #0065FC;
  border-top: 2px solid #0065FC;
}

.bold {
  font-weight: 100;
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: #0065FC;
  font-size: 15px;
}

/* Section1 */
/*Searchbar*/
#searchbar {
  display: flex;
  margin: 0px;
  padding: 0px;
  border: 1px;
}

#icon {
  padding: 9px;
  background-color: #F2F2F2;
  border-top-left-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
}

#city {
  color: black;
  font-weight: bold;
}

#search_button {
  margin: 0px;
  padding: 5px;
  border: 0px;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  background-color: #0065FC;
  color: white;
}

/*Filtres*/
.filtre {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding: 20px;
  padding-left: 0px;
}

.filtre p {
  margin: 10px 25px 0px 0px;
  font-weight: bold;
  height: 1.6em;
}

.list {
  display: flex;
}

.list_item {
  display: flex;
  align-items: center;
  list-style: none;
  font-weight: bold;
  margin: 0px 20px 0px 0px;
  border-radius: 30px 30px;
}

.list_item .fas {
  background-color: #DEEBFF;
  color: #0065FC;
  padding: 10px;
  border-radius: 20px 20px;
}

.list_item a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 0.5em;
  text-decoration: none;
  color: black;
  border: 2px solid #F2F2F2;
  border-radius: 30px;
}

/*Info*/
.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2px;
  margin-top: 0.4em;
  margin-bottom: 2em;
}

#icon_info .fas {
  color: #0065FC;
  border: 2px solid #F2F2F2;
  padding: 5px;
  border-radius: 50% 50%;
}

.info p {
  margin-left: 0.3em
}

/* Main */
main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.block {
  background-color: #F2F2F2;
  border-radius: 30px 30px;
  padding: 0.5em;
  width: 65%;
}

h2 {
  margin-left: 15px;
}

/* Grid*/
.container {
  display: grid;
  justify-content: flex-start;
  grid-gap: 20px;
  grid-template-rows: repeat (2, 50px);
  grid-template-columns: repeat (3, 50px);
}

.item1 {
  grid-column: 1;
  grid-row: 1;
}

.item2 {
  grid-column: 2;
  grid-row: 1;
}

.item3 {
  grid-column: 3;
  grid-row: 1;
}

.item4 {
  grid-column: 1;
  grid-row: 2;
}

.item5 {
  grid-column: 2;
  grid-row: 2;
}

.item6 {
  grid-column: 3;
  grid-row: 2;
}

.item1, .item2, .item3, .item4, .item5, .item6 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  border-radius: 20px 20px;
  width: 13em;
  height: 15em;
}

article img {
  width: 37vh;
  height: 20vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 5px;
}

h3 {
  margin: 0px 5px 0px 10px;
}

article p {
  margin: 0px 10px 0px 10px;
}

.star {
  display: flex;
  align-items: flex-start;
  margin: 0px 10px 0px 10px;
}

.star .blue {
  display: flex;
  color: #0065FC;
}

.star .grey_star {
  color: #F2F2F2;
}

/* Aside */
.populaires {
  background-color: #F2F2F2;
  width: 15%;
  border-radius: 30px 30px;
}

.sidebar li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.sidebar li img {
  width: 45vh;
  height: 20vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
