/*--------- Tablette Format Portrait ------------*/
@media all and (min-width: 669px) and (max-width: 831px){
  h2 {
    font-size: 1.3em;
  }

  p {
    font-size: 18px;
  }

  /* Filtres */
  .filtre, .list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
  }

  .filtre p {
    margin-right: 20px;
  }

  .list {
    padding-left: 0px;
  }

  .list_item {
    padding-bottom: 5px;
    margin-right: 20px;
  }

  /* Populaire */
  main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }

  aside {
    height: 550px;
    width: 100%;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .sidebar a{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 80%;
    height: 132px;
  }

  .sidebar img {
    display: flex;
    min-width: 35%;
    width: 35%;
    height: 120px;
  }

  .right{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
  }

  .populaires h2 {
    margin-right: 50px;
  }

  /* Hébergements */
  .section1 {
    height: 35.5em;
    width: 100%;
    margin-left: 0px;
    background-color: inherit;
  }

  .container{
    display: flex;
    column-gap: 10px;
  }

  article {
    max-width: 300px;
    height: 210px;
    display: flex;
    align-items: center;
  }

  article a{
    max-width: 300px
  }

  .block img {
    width: 35%;
    height: 35%;
    margin-top: 0px;
  }

  .link {
    font-size: 19px;
  }

  .container {
    margin-bottom: 15px;
  }
}

}
